.advantages {
  @include ul-standard;
  font-family: $bold-font-family;
  font-size: $medium-font-size;
  line-height: $medium-line-height;
  color: $title-color;
}

.advantages__item {
  width: 215px;
  padding-top: 54px;
  margin-top: 30px;

  &--width-smaller {
    width: 197px;
  }

  &--width-larger {
    width: 260px;
  }
}

.advantages__item-title {
  margin: 0;
  font-size: $medium-font-size;
  line-height: $medium-line-height;
}

@media (min-width: $tablet-width) {
  .advantages__item {
    width: 250px;
    padding-top: 62px;
    padding-bottom: 10px;
    margin-top: 40px;
    outline: 1px solid green;

    &--width-smaller {
      width: 230px;
    }

    &--width-larger {
      width: 300px;
    }
  }

  .advantages__item-title {
    font-size: $tablet-medium-font-size;
    line-height: $tablet-medium-line-height;
  }
}
