.button {
  display: block;
  width: 260px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: $bold-font-family;
  font-size: $button-font-size;
  line-height: $medium-line-height;
  color: $main-color;
  text-align: center;
  text-transform: uppercase;
  background-color: $white-color;
  border: 2px solid $main-color;
  box-sizing: border-box;

  &--font-smaller {
    font-size: $medium-font-size;
  }

  &--order {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: $medium-font-size;
    line-height: $least-line-height;
  }

  &--width-less {
    width: 192px;
  }

  &:hover {
    color: $white-color;
    background-color: $main-color;
  }

  &:focus {
    color: $white-color;
    background-color: $main-color;
  }

  &:active {
    color: $white-clear-color;
  }

  &--green {
    padding-top: 20px;
    padding-bottom: 16px;
    font-size: $medium-font-size;
    line-height: $least-line-height;
    color: $white-color;
    background-color: $main-green-color;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding-top: 15px;
    font-size: $medium-font-size;
  }
}
