.catalog-product {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
}

.catalog-product__image-link {
  width: 260px;
  height: 195px;
}

.catalog-product__title {
  width: 200px;
  margin: 0;
  margin-top: 28px;
  margin-left: 28px;
  font-family: $bold-font-family;
  font-size: $medium-font-size;
  line-height: $big-line-height;
}

.catalog-product__title-link {
  color: $title-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-product__options {
  margin: 0;
  margin-left: 28px;
  margin-top: 5px;
  margin-bottom: 18px;
  font-size: $note-font-size;
}

.catalog-product__cost {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 28px;
  margin-right: 28px;
  padding-top: 2px;
  padding-bottom: 10px;
  border-top: 1px solid #ececec;
}

.catalog-product__price {
  width: 103px;
  font-family: $bold-font-family;
  font-size: $body-font-size;
  line-height: $big-line-height;
  color: $title-color;
}

.catalog-product__add-to-basket {
  margin-left: auto;
  text-align: right;
}
