.catalog-product {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-border-color;
}

.catalog-product__image-link {
  width: 260px;
  height: 195px;
}

.catalog-product__description {
  padding: 27px 28px 26px;
}

.catalog-product__title {
  width: 200px;
  margin: 0;
  margin-bottom: 4px;
  font-family: $bold-font-family;
  font-size: $medium-font-size;
  line-height: $big-line-height;
}

.catalog-product__title-link {
  color: $title-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-product__options {
  margin: 0;
  margin-bottom: 18px;
  font-size: $note-font-size;
}

.catalog-product__cost {
  display: flex;
  flex-direction: row;
  padding-top: 17px;
  align-items: center;
  border-top: 1px solid $gray-border-color;
}

.catalog-product__price {
  width: 103px;
  font-family: $bold-font-family;
  font-size: $body-font-size;
  line-height: $big-line-height;
  color: $title-color;
}

.catalog-product__add-to-basket {
  margin-left: auto;
  text-align: right;
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .catalog-product {
    flex-direction: row;
  }

  .catalog-product__image-link {
    width: 334px;
    height: 334px;
  }

  .catalog-product__image {
    width: 334px;
    height: 334px;
  }

  .catalog-product__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 278px;
    padding-bottom: 23px;
    outline: 1px solid pink;
  }

  .catalog-product__title {
    width: 240px;
    font-size: $tablet-medium-font-size;
    outline: 1px solid green;
  }

  .catalog-product__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 120px;
    outline: 1px solid black;
  }

  .catalog-product__options {
    font-size: $body-font-size;
    outline: 1px solid green;
  }

  .catalog-product__cost {
    padding-top: 20px;
    outline: 1px solid green;
  }

  .catalog-product__price {
    font-size: $medium-font-size;
  }
}

@media (min-width: $desktop-width) {
  .catalog-product {
    flex-direction: column;
    width: 316px;
    max-height: 660px;
  }

  .catalog-product__image-link {
    width: 316px;
    height: 464px;
  }

  .catalog-product__image {
    width: 316px;
    height: 464px;
  }

  .catalog-product__description {
    width: 260px;
    padding-top: 24px;
    padding-bottom: 23px;
  }

  .catalog-product__info {
    min-height: 95px;
  }
}
