.catalog {
  width: 320px;
  margin: 0 auto;
  outline: 1px solid blue;
}

.catalog__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 768px;
  }

  .catalog__container {
    padding-top: 73px;
    padding-bottom: 51px;
  }

  .catalog__item {
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1150px;
  }

  .catalog__container {
    width: 1050px;
    padding-top: 122px;
    padding-bottom: 9px;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__item {
    margin-right: 49px;
  }

  .catalog__item:nth-child(3n) {
    margin-right: 0;
  }
}
