.catalog-product {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-border-color;

  &:hover {
    box-shadow: 0 6px 10px 0 $gray-border-color;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $gray-border-color;
  }
}

.catalog-product__image-link {
  width: 260px;
  height: 195px;
}

.catalog-product__image {
  width: 260px;
  height: 195px;
}

.catalog-product__description {
  padding: 27px 28px 18px;
}

.catalog-product__title {
  width: 200px;
  margin: 0;
  margin-bottom: 4px;
  font-family: $bold-font-family;
  font-size: $medium-font-size;
  line-height: $big-line-height;
}

.catalog-product__title-link {
  color: $title-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-product__options {
  margin: 0;
  margin-bottom: 18px;
  font-size: $note-font-size;
}

.catalog-product__cost {
  display: flex;
  flex-direction: row;
  padding-top: 17px;
  align-items: center;
  border-top: 1px solid $gray-border-color;
}

.catalog-product__price {
  width: 103px;
  padding-bottom: 3px;
  font-family: $bold-font-family;
  font-size: $body-font-size;
  line-height: $big-line-height;
  color: $title-color;
}

.catalog-product__add-to-basket {
  margin-left: auto;
  padding-top: 5px;
  text-align: right;
  font-size: 0;

  &:not(:hover) {
    opacity: 0.2;
  }

  &:hover svg {
    fill: $main-green-color;
  }

  &:active svg {
    fill: $main-green-color;
    opacity: 0.3;
  }
}

.catalog-product__button {
  padding-left: 5px;
  padding-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .catalog-product {
    flex-direction: row;
  }

  .catalog-product__image-link {
    width: 334px;
    height: 334px;
  }

  .catalog-product__image {
    width: 334px;
    height: 334px;
  }

  .catalog-product__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 278px;
    padding-bottom: 17px;
  }

  .catalog-product__title {
    width: 240px;
    font-size: $tablet-medium-font-size;
  }

  .catalog-product__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 120px;
  }

  .catalog-product__options {
    font-size: $body-font-size;
  }

  .catalog-product__cost {
    padding-top: 20px;
  }

  .catalog-product__price {
    padding-left: 3px;
    font-size: $medium-font-size;
  }

  .catalog-product__button {
    padding-right: 3px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-product {
    flex-direction: column;
    width: 314px;
    max-height: 660px;
  }

  .catalog-product__image-link {
    width: 314px;
    height: 464px;
  }

  .catalog-product__image {
    width: 314px;
    height: 464px;
  }

  .catalog-product__description {
    width: 260px;
    padding-top: 24px;
    padding-bottom: 23px;
  }

  .catalog-product__info {
    min-height: 95px;
  }

  .catalog-product__price {
    padding-left: 0;
  }
}
