.categories {
  width: 320px;
  margin: 0 auto;
}

.categories__list {
  margin-top: -73px;
}

@media (min-width: $tablet-width) {
  .categories {
    position: relative;
    width: 668px;
    padding: 0 50px;
    z-index: 2;
  }

  .categories__list {
    margin-top: -122px;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    width: 1050px;
  }

  .categories__list {
    margin-top: -124px;
  }
}
