.contacts-section {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contacts-section__container {
  width: 260px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 35px;

  &--button {
    padding-top: 40px;
    padding-bottom: 39px;
  }
}

.contacts-section__info {
  margin-top: 28px;
}

.contacts-section__map {
  width: 100%;
  height: 457px;
  border: 0;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 322px auto;
  }
}

.contacts-section__map iframe {
  width: 100%;
  height: 457px;
  border: 0;
}

@media (min-width: $tablet-width) {
  .contacts-section__container {
    position: relative;
    width: 668px;
    padding-top: 60px;

    &--button {
      padding-top: 57px;
      padding-bottom: 55px;
    }
  }

  .contacts-section__title {
    &::after {
      position: absolute;
      content: "";
      top: 47px;
      right: 2px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts-section__info {
    margin-top: 50px;
  }

  .contacts-section__map {
    margin-top: 20px;
    background-image: url("../img/map-tablet@1x.jpg");
    background-size: 768px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  .contacts-section__write {
    width: 229px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts-section {
    width: 1150px;
    margin: 0 auto;
  }

  .contacts-section__container {
    width: 875px;
    padding-top: 139px;
    padding-left: 175px;
    padding-bottom: 69px;

    &--button {
      width: 525px;
      margin: 0;
      padding-top: 10px;
      padding-left: 78px;
      padding-bottom: 103px;
    }
  }

  .contacts-section__title {
    &::after {
      top: 131px;
      left: 63px;
    }
  }

  .contacts-section__map {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 525px;
    background-image: url("../img/map-desktop@1x.jpg");
    background-size: 525px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
