.contacts-section {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: 1px solid blue;
}

.contacts-section__container {
  width: 260px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 35px;
}

.contacts-section__info {
  margin-top: 28px;
}

.contacts-section__map {
  width: 100%;
  height: 457px;
  border: 0;
}

.contacts-section__map iframe {
  width: 100%;
  height: 457px;
  border: 0;
}

@media (min-width: $tablet-width) {
  .contacts-section__container {
    width: 668px;
    padding-top: 60px;
    outline: 1px solid pink;

    &--button {
      padding-top: 57px;
      padding-bottom: 55px;
    }
  }

  .contacts-section__info {
    margin-top: 50px;
  }

  .contacts-section__map {
    margin-top: 20px;
    outline: 1px solid pink;
  }

  .contacts-section__write {
    width: 229px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts-section {
    width: 1150px;
    margin: 0 auto;
  }

  .contacts-section__container {
    width: 875px;
    padding-top: 139px;
    padding-left: 175px;
    padding-bottom: 69px;

    &--button {
      width: 525px;
      margin: 0;
      padding-top: 10px;
      padding-left: 78px;
      padding-bottom: 103px;
    }
  }

  .contacts-section__map {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 525px;
  }
}
