.contacts__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__value {
  margin-left: 30px;

  &--width-smaller {
    width: 145px;
  }

  &--email-link {
    color: $main-color;
    border-bottom: 1px solid $extra-green-color;

    &:hover {
      color: $hover-extra-green-color;
      border-bottom: 1px solid $hover-extra-green-color;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-direction: row;
  }

  .contacts__item {
    width: 334px;
    margin-bottom: 0;
    font-size: $medium-font-size;
  }

  .contacts__value {
    margin-left: 24px;

    &--width-smaller {
      width: 230px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    flex-direction: column;
  }

  .contacts__item {
    margin-bottom: 28px;
  }
}
