.contacts-section {
  display: flex;
  flex-direction: column;
  outline: 1px solid blue;
}

.contacts-section__container {
  padding-top: 40px;
  padding-bottom: 35px;
}

.contacts-section__info {
  margin-top: 28px;
}

.contacts-section__write {
  margin: 40px 30px 40px 30px;
}

.contacts-section__map {
  width: 100%;
  height: 457px;
  border: 0;
}

@media (min-width: $tablet-width) {
  .contacts-section__container {
    padding-top: 60px;
    outline: 1px solid pink;
  }

  .contacts-section__info {
    margin-top: 50px;
  }

  .contacts-section__map {
    margin-top: 20px;
    outline: 1px solid pink;
  }

  .contacts-section__write {
    width: 229px;
    margin: 54px auto 57px;
  }
}
