.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 19px;
  padding-top: 17px;

  &:hover path {
    fill: $hover-extra-green-color;
  }

  &:active .copyright__text {
    opacity: 0.3;
  }

  &:active .copyright__link-icon {
    opacity: 0.3;
  }

  &:focus {
    outline-color: $focus-browser-color;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
  }
}

.copyright__text {
  margin-right: 28px;
  font-family: $bold-font-family;
  font-size: $big-font-size;
  line-height: $small-line-height;
  color: $title-color;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    padding-bottom: 6px;
    padding-top: 8px;
  }
}
