.order-form__fieldset {
  padding: 0;
  padding-top: 22px;
  padding-bottom: 29px;
  border: none;

  &--color {
    padding-bottom: 14px;
  }

  &--contacts {
    padding-top: 4px;
  }

  &--extra {
    padding-bottom: 0;
  }
}

.order-form__fieldset-title {
  display: flex;
  width: 260px;
  margin: 0;
  font-family: $bold-font-family;
  font-size: $medium-font-size;
  line-height: $least-line-height;
  color: #63d1bb;
  text-transform: uppercase;

  &::after {
    content: "";
    width: 198px;
    height: 1px;
    margin-left: auto;
    margin-top: 7px;
    background-color: #62d1ba;
  }
}

.order-form__list {
  @include ul-standard;
}

.order-form__item {
  &--border {
    border-bottom: 2px solid $title-color;
    margin-bottom: 14px;

    &:hover {
      border-color: #62d1ba;
    }

    &:active {
      border-color: #62d1ba;
    }

    &:focus {
      border-color: #62d1ba;
    }
  }

  &--border:last-child {
    margin-bottom: 5px;
  }
}

.order-form__input-label {
  position: relative;
  display: block;
  padding-left: 62px;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: $bold-font-family;
  font-size: $medium-font-size;
  line-height: $small-line-height;
  color: $title-color;

  &--color {
    padding-top: 14px;
    padding-bottom: 29px;
  }

  &--personal {
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 0;
  }
}

.order-form__input--radio + .order-form__input-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 39px;
  height: 39px;
  border: 2px solid $main-color;
  border-radius: 50%;
  box-sizing: border-box;
}

.order-form__input--radio:hover + .order-form__input-label::before {
  border-color: #62d1ba;
}

.order-form__input--radio:active + .order-form__input-label::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.order-form__input--radio:checked + .order-form__input-label::after {
  content: "";
  position: absolute;
  top: 12.5px;
  left: 11.5px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.order-form__input--checkbox + .order-form__input-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 39px;
  height: 39px;
  border: 2px solid $main-color;
  box-sizing: border-box;
}

.order-form__input--checkbox:hover + .order-form__input-label::before {
  border-color: #62d1ba;
}

.order-form__input--checkbox:active + .order-form__input-label::before {
  border-color: rgba(68, 68, 68, 0.3);
}

.order-form__input--checkbox:checked + .order-form__input-label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 6px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icon-tick.svg");
}

.order-form__input:focus + .order-form__input-label::before {
  outline-color: #4d90fe;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.order-form__input {
  &--text {
    width: 260px;
    font-size: $big-font-size;
    line-height: $small-line-height;
    color: $main-color;
    border: none;
    padding-top: 10px;
    padding-bottom: 14px;

    &::placeholder {
      font-size: $medium-font-size;
      opacity: 0.3;
    }
  }

  &--tel {
    &::placeholder {
      font-size: $big-font-size;
    }
  }

  &--wishes {
    margin-top: 5px;
    padding-top: 11px;
    padding-left: 15px;
    padding-bottom: 18px;
    border: 2px solid $main-color;
    box-sizing: border-box;

    &:hover {
      border-color: #62d1ba;
    }

    &:active {
      border-color: #62d1ba;
    }
  }
}

.order-form__note {
  margin-bottom: 25px;
}

.order-form__text-note {
  font-size: $small-font-size;
  line-height: $least-line-height;
}
