.page-footer {
  background-color: $page-back-color;
  outline: 1px solid blue;
}

.page-footer-container {
  width: 260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 25px;
  padding-bottom: 18px;
  border-bottom: 1px solid $social-border-color;
}

.page-footer__copyright {
  padding-top: 20px;
  padding-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .page-footer-container {
    display: flex;
    justify-content: space-between;
    width: 668px;
    padding: 50px 50px 45px;
  }

  .page-footer__logo {
    display: block;
    outline: 1px solid green;
  }

  .page-footer__social {
    margin-left: 70px;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 0;
    outline: 1px solid green;
  }

  .page-footer__copyright {
    padding-top: 7px;
    padding-bottom: 0;
    outline: 1px solid green;
  }
}

@media (min-width: $desktop-width) {
  .page-footer-container {
    width: 1050px;
  }
}
