.page-footer {
  background-color: $page-back-color;
}

.page-footer-container {
  position: relative;
  width: 260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;

  &::before {
    position: absolute;
    content: "";
    top: 80px;
    left: 30px;
    width: 260px;
    height: 1px;
    background-color: $social-border-color;
  }
}

.page-footer__logo {
  display: none;

  &:not(&--index):hover svg {
    fill: $hover-extra-green-color;
  }

  &:not(&--index):active svg {
    fill: $hover-extra-green-color;
    opacity: 0.3;
  }
}

.page-footer__social {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 25px;
  padding-bottom: 18px;
}

.page-footer__copyright {
  padding-top: 3px;
  padding-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .page-footer-container {
    display: flex;
    justify-content: space-between;
    width: 668px;
    padding: 50px 50px 45px;

    &::before {
      content: none;
    }
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social {
    margin-left: 70px;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 0;
  }

  .page-footer__copyright {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer-container {
    width: 1050px;
  }
}
