.product-categories {
  @include ul-standard;
  display: flex;
  flex-direction: column;
  font-family: $bold-font-family;
  font-size: $big-font-size;
  line-height: $big-line-height;
}

.product-categories__link {
  display: block;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  color: #ffffff;
  outline: 1px solid pink;

  &--interior {
    background-color: #63d1bb;

    &:hover {
      background-color: #59d5bc;
    }

    &:active {
      background-color: #59d5bc;
    }
  }

  &--toy {
    background-color: #56c3b2;

    &:hover {
      background-color: #46c1ae;
    }

    &:active {
      background-color: #46c1ae;
    }
  }
}

.product-categories__title {
  width: 130px;

  &:active {
    opacity: 0.3;
  }
}
