.production {
  width: 320px;
  margin: 0 auto;
  display: flex;
}

.production__container {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  margin-bottom: 60px;
  border: 1px solid $gray-border-color;

  &:hover {
    box-shadow: 0 6px 10px 0 $gray-border-color;
  }

  &:active {
    box-shadow: 0 3px 5px 0 $gray-border-color;
  }
}

.production__header {
  position: relative;
  padding: 23px 28px;
}

.production__title {
  margin: 0;
  padding-left: 62px;
  font-family: $bold-font-family;
  font-size: $medium-font-size;
  line-height: $big-line-height;
  color: $title-color;
}

.production__icon {
  position: absolute;
  top: 30px;
  left: 35px;
  fill: $main-green-color;
}

.production__text {
  padding: 5px 34px;
  font-size: $note-font-size;
  line-height: $big-line-height;
}

.production__button {
  margin-left: 33px;
  margin-top: 10px;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .production {
    width: 768px;
  }

  .production__container {
    margin: 0 50px;
    margin-bottom: 63px;
  }

  .production__header {
    padding: 29px 28px;
    padding-bottom: 12px;
    order: 1;
  }

  .production__icon {
    top: 25px;
    left: 40px;
  }

  .production__text {
    padding: 5px 38px;
    font-size: $body-font-size;
    line-height: $body-line-height;
    order: 1;
  }

  .production__button {
    width: 584px;
    margin-left: 40px;
    margin-top: 17px;
    margin-bottom: 45px;
    order: 1;
  }

  .production__title {
    padding-left: 76px;
    font-size: $tablet-medium-font-size;
  }
}

@media (min-width: $desktop-width) {
  .production {
    width: 1150px;
  }

  .production__container {
    position: relative;
    width: 1050px;
    padding-left: 682px;
    padding-top: 45px;
    padding-bottom: 17px;
    margin-bottom: 102px;
  }

  .production__header {
    padding-left: 0;
    padding-top: 51px;
    order: 0;
  }

  .production__icon {
    top: 0;
    left: 78px;
  }

  .production__content {
    position: absolute;
    top: 0;
    left: 0;
  }

  .production__text {
    padding: 5px 0;
    padding-left: 76px;
  }

  .production__title {
    padding-right: 30px;
  }

  .production__button {
    width: 229px;
    margin-left: 79px;
    margin-top: 28px;
  }
}
