.production {
  display: flex;
  outline: 1px solid blue;
}

.production__container {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  margin-bottom: 58px;
  border: 1px solid $gray-border-color;
}

.production__header {
  padding: 23px 28px;
}

.production__title {
  margin: 0;
  padding-left: 62px;
  font-family: $bold-font-family;
  font-size: $medium-font-size;
  line-height: $big-line-height;
  color: $title-color;
}

.production__text {
  padding: 5px 34px;
  font-size: $note-font-size;
  line-height: $big-line-height;
}

.production__button {
  margin-left: 33px;
  margin-top: 8px;
  margin-bottom: 32px;
}
