.production {
  display: flex;
  outline: 1px solid blue;
}

.production__container {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  margin-bottom: 58px;
  border: 1px solid $gray-border-color;
}

.production__header {
  padding: 23px 28px;
}

.production__title {
  margin: 0;
  padding-left: 62px;
  font-family: $bold-font-family;
  font-size: $medium-font-size;
  line-height: $big-line-height;
  color: $title-color;
}

.production__text {
  padding: 5px 34px;
  font-size: $note-font-size;
  line-height: $big-line-height;
}

.production__button {
  margin-left: 33px;
  margin-top: 8px;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .production__container {
    margin: 0 50px;
    margin-bottom: 65px;
  }

  .production__header {
    padding: 29px 28px;
    padding-bottom: 12px;
    order: 1;
    outline: 1px solid green;
  }

  .production__text {
    padding: 5px 38px;
    font-size: $body-font-size;
    line-height: $body-line-height;
    order: 1;
    outline: 1px solid green;
  }

  .production__button {
    width: 584px;
    margin-left: 40px;
    margin-top: 17px;
    margin-bottom: 45px;
    order: 1;
  }

  .production__title {
    padding-left: 76px;
    font-size: $tablet-medium-font-size;
  }
}

@media (min-width: $desktop-width) {
  .production__container {
    position: relative;
    width: 1050px;
    padding-left: 682px;
    padding-top: 40px;
    padding-bottom: 17px;
    margin-bottom: 102px;
  }

  .production__header {
    padding-left: 0;
    padding-top: 51px;
    order: 0;
  }

  .production__content {
    position: absolute;
    top: 0;
    left: 0;
  }

  .production__text {
    padding: 5px 0;
    padding-left: 76px;
  }

  .production__title {
    padding-right: 30px;
  }

  .production__button {
    width: 229px;
    margin-left: 79px;
    margin-top: 28px;
  }
}
