.product-categories {
  @include ul-standard;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: $bold-font-family;
  font-size: $big-font-size;
  line-height: $big-line-height;
}

.product-categories__icon {
  opacity: 0.5;
}

.product-categories__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 34px;
  padding-top: 23px;
  padding-bottom: 14px;
  color: $white-color;

  &:active .product-categories__title {
    opacity: 0.3;
  }

  &:hover .product-categories__icon {
    opacity: 0.7;
  }

  &:focus .product-categories__icon {
    opacity: 0.7;
  }

  &:active .product-categories__icon {
    opacity: 0.3;
  }

  &--interior {
    background-color: $main-green-color;

    &:hover {
      background-color: $hover-main-green-color;
    }

    &:focus {
      background-color: $hover-main-green-color;
    }

    &:active {
      background-color: $hover-main-green-color;
    }
  }

  &--toy {
    padding-right: 27px;
    background-color: $dark-green-color;

    &:hover {
      background-color: $hover-extra-green-color;
    }

    &:focus {
      background-color: $hover-extra-green-color;
    }

    &:active {
      background-color: $hover-extra-green-color;
    }
  }
}

.product-categories__title {
  width: 130px;
  padding-top: 2px;
}

@media (min-width: $tablet-width) {
  .product-categories {
    flex-direction: row;
    font-size: 20px;
    line-height: 30px;
  }

  .product-categories__link {
    width: 266px;
    padding-left: 34px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-right: 34px;

    &:hover {
      margin-top: -5px;
      padding-bottom: 32px;
    }

    &--interior {
      &:hover {
        padding-bottom: 33px;
      }
    }
  }

  .product-categories__title {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .product-categories__link {
    width: 457px;
  }
}
