.reviews {
  outline: 1px solid blue;
}

.reviews__container {
  padding-top: 26px;
  padding-bottom: 45px;
}

.reviews__toggles {
  /*временно*/
  min-height: 52px;
  margin-top: 35px;
  margin-bottom: 30px;
}
