.review {
  margin: 0;
}

.review__author-info {
  font-size: 17px;
}

.review__author-name {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-style: normal;
  line-height: 24px;
  color: $title-color;
}
