.reviews {
  position: relative;
  width: 320px;
  margin: 0 auto;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 6px;
    background-position: -5px bottom;
  }
}

.reviews__container {
  padding-top: 26px;
  padding-bottom: 53px;
}

.reviews__author-info {
  margin-top: 25px;
  font-size: $medium-font-size;
}

.reviews__author-name {
  font-family: $bold-font-family;
  font-style: normal;
  line-height: $big-line-height;
  color: $title-color;
}

.reviews__toggles {
  margin-top: 30px;
  margin-bottom: 37px;
  border: 1px solid $gray-border-color;
}

.reviews__toggle {
  width: 127px;
  padding-top: 10px;
  padding-bottom: 13px;
  font-size: 0;
  background-color: $white-color;
  border: none;

  &--prev {
    width: 129px;
    border-right: 1px solid $gray-border-color;
  }

  &--next {
    width: 125px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    width: 768px;

    &::after {
      width: 768px;
      height: 17px;
      background-size: 768px 17px;
      background-position: 22px bottom;
    }
  }

  .reviews__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 79px;
    padding-bottom: 111px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__title {
    width: 334px;
  }

  .reviews_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 668px;
    order: 1;
  }

  .reviews__author-info {
    width: 334px;
    padding-top: 12px;
  }

  .reviews__author-name {
    font-size: $button-font-size;
  }

  .reviews__toggles {
    margin-left: auto;
    margin-bottom: 24px;
    border: none;
  }

  .reviews__toggle {
    width: 83.5px;
    padding-top: 23px;
    border: none;
  }

  .reviews__write {
    width: 175px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 1150px;

    &::after {
      width: 1050px;
      height: 23px;
      margin-left: 50px;
      background-size: 1050px 23px;
    }
  }

  .reviews__container {
    width: 875px;
    padding-left: 225px;
    padding-top: 75px;
    padding-bottom: 151px;
    background-position: 50px 0;
  }

  .reviews_list {
    width: 875px;
  }

  .reviews__author-info {
    padding-top: 0;
    margin-top: 20px;
  }

  .reviews__author-name {
    font-size: $medium-font-size;
  }

  .reviews__write {
    margin-top: 5px;
  }

  .reviews__toggles {
    margin-bottom: 38px;
  }

  .reviews__toggle {
    width: 83.5px;
    padding-top: 7px;
  }
}
