.section-title {
  margin: 0;
  font-family: $bold-font-family;
  font-size: $title-font-size;
  color: $title-color;

  &--font-smaller {
    font-size: $button-font-size;
  }
}

@media (min-width: $tablet-width) {
  .section-title {
    font-size: $tablet-title-font-size;
    line-height: $tablet-big-line-height;
  }
}

@media (min-width: $desktop-width) {
  .section-title {
    font-size: 53px;
    line-height: 57px;
  }
}
