.site-list {
  @include ul-standard;
  font-family: $bold-font-family;
  font-size: $medium-font-size;
  line-height: $big-line-height;
  font-weight: $bold-font-weight;
  color: $title-color;
}

.site-list__item {
  border-top: 1px solid $gray-border-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__link {
  display: block;
  padding: 30px 0 30px 75px;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    width: 334px;
    font-size: 15px;
    order: 1;
    outline: 1px solid pink;
  }

  .site-list__link {
    padding: 16px 33px 16px 0;
  }
}
