.social__list {
  @include ul-standard;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  &:hover path {
    fill: #46c1ae;
  }

  &:active path {
    fill: #46c1ae;
    opacity: 0.3;
  }
}
