.social__list {
  @include ul-standard;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  fill: "#231f20";
}

.social__link {
  &:hover .social__icon {
    fill: $hover-extra-green-color;
  }

  &:active .social__icon {
    fill: $hover-extra-green-color;
    opacity: 0.3;
  }
}
