.user-list {
  @include ul-standard;
  font-family: $bold-font-family;
  font-size: $medium-font-size;
  line-height: $big-line-height;
  font-weight: $bold-font-weight;
  color: $title-color;
}

.user-list__item {
  border-top: 1px solid $gray-border-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__link {
  display: block;
  padding: 30px 0 30px 75px;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
    width: 346px;
    outline: 1px solid pink;
  }

  .user-list__link {
    padding: 30px 0;
  }

  .user-list__search {
    width: 84px;
    font-size: 0;
    outline: 1px solid red;
  }

  .user-list__basket {
    padding-left: 80px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 349px;
    order: 1;
  }

  .user-list__basket {
    padding-left: 83px;
  }
}
