.user-list {
  @include ul-standard;
  font-family: $bold-font-family;
  font-size: $medium-font-size;
  line-height: $big-line-height;
  font-weight: $bold-font-weight;
  color: $title-color;
}

.user-list__item {
  border-top: 1px solid $gray-border-color;
}

.user-list__link {
  position: relative;
  display: block;
  padding: 30px 0 30px 75px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__icon {
  position: absolute;
  top: 34px;
  left: 32px;
  width: 18px;
  height: 18px;
  opacity: 0.2;
}

.user-list__link:hover .user-list__icon {
  opacity: 1;
}

.user-list__link:focus .user-list__icon {
  opacity: 1;
}

.user-list__link:hover path {
  fill: $main-green-color;
}

.user-list__link:focus path {
  fill: $main-green-color;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
    width: 348px;
    padding-right: 50px;
    border-bottom: 1px solid $gray-border-color;
  }

  .user-list__item {
    border: none;
    border-left: 1px solid $gray-border-color;
  }

  .user-list__link {
    padding: 30px 0;

    &--search {
      width: 84px;
      font-size: 0;
    }

    &--basket {
      padding-left: 80px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: 348px;
    order: 1;

    &--basket {
      padding-left: 83px;
    }
  }
}
