.user-list {
  @include ul-standard;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $title-color;
}

.user-list__item {
  padding: 30px 0 30px 75px;
  border-top: 1px solid #ececec;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
