.video-content {
  position: relative;
}

.video-content__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 101px;
  height: 77px;
  font-size: 0;
  border: 0;
  background-image: url("../img/icon-play.svg");
  background-color: $white-color;
  border-radius: 20px;
  transform: translate(-50%, -50%);

  &:hover {
    transform: scale(1.2) translate(-40%, -40%);
  }

  &:active {
    opacity: 0.3;
    transform: scale(0.8) translate(-60%, -60%);
  }
}

@media (min-width: $tablet-width) {
  .video-content__image {
    width: 668px;
    height: 455px;
  }
}
