$main-color: #444444;
$title-color: #000000;

$body-font-family: "Open Sans", "Arial", sans-serif;
$body-font-size: 15px;
$body-line-height: 30px;
$body-font-weight: 400;

$bold-font-family: "Open Sans Bold", "Arial", sans-serif;

$bold-font-weight: 700;

$note-font-size: 13px;
$small-font-size: 14px;
$medium-font-size: 17px;
$button-font-size: 18px;
$big-font-size: 19px;
$title-font-size: 25px;
$banner-font-size: 27px;

$least-line-height: 16px;
$small-line-height: 18px;
$medium-line-height: 20px;
$big-line-height: 24px;
